<h3>Please get in touch and our team will answer all your questions.</h3>

<div class="row">

    
        <div class="col-4">
            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Full name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>

            </div>
            <div class="input-group mb-3">
                <button type="button" class="btn btn-secondary">Submit</button>
            </div>
        </div>
    

    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                Meet our developer team
            </div>
            <div class="card-body">
                <img src="~/lib/images/Vishakha_karimungi_headshot.jpg" style="border-radius:50%;width:100px;height:100px" />
                <h6>Vishakha Karimungi</h6>
            </div>

        </div>
    </div>
</div>