
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Foodify</title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/css/jquery-validate/jquery.validate.js"></script>
        <script src="~/css/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/content/site.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0&appId=188969589991001&autoLogAppEvents=1" nonce="kbqBQzgh"></script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-1">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width:90px;height:50px;" src="~/lib/images/Foodifylogo.PNG" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" >
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FoodMenu" asp-action="Index">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                Menu
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">
                                <i class="fa fa-paper-plane"></i>
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">
                                <i class="fa fa-info"></i>
                                About us
                            </a>
                        </li>
                        @await Component.InvokeAsync("ShoppingCartSummary")
                        @*@await Component.InvokeAsync("Searchcompo")*@
                        @*<li class="nav-item">
            <form class="d-flex" asp-controller="Home" asp-action="Search" method="post">
                <input  asp-for="str" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>
        </li>*@
                        <li class="nav-item ml-auto">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
     
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2021 - <a asp-area="" asp-controller="Home" asp-action="Index">Foodify</a>
                                    <h6>Made with <span class="heart">&#10084;</span> by Vishakha Karimungi</h6>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $("a").click(function () {
                // remove classes from all
                $("a").removeClass("active");
                // add class to the one we clicked
                $(this).addClass("active");
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
