@model FoodListViewModel



<div class="card-deck">
    <div class="card shadow">
        <div class="card-body">
            <h4> Searched item(s)</h4>


            <form class="d-flex" asp-action="Search" method="post">
                <input asp-for="searchstr" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>

            <div class="row">
                @if (Model.FoodItems.Count() > 0)
                {
                @foreach (var item in Model.FoodItems)
                {
                    <partial name="_foodCard" model="item" />
                }}
                else
            {
                <h5>No item found,please search another items</h5>
            }

            </div>

        </div>


    </div>

</div>


