@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
            <span class="fa fa-shopping-cart"></span>
            <span>
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}