<h3>About us</h3>
<h6>
    With concern for public health increasing day-by-day, many people have been extra cautious about the quality of online food delivered near their societies. We bring to you favourites across cuisines from popular restaurants, adibing by the following principles:
    No Artificial Colours or Flavours
    Are food delivery services safe in your area?
    If you’ve often enquired what ingredients go into the dish you’ve ordered, you’re not alone! When it comes to online food ordering, you always have a set of questions regarding the food and what goes into it.
    At Foodify, we ensure you know it all! Every bite from the home delivered food tells you about the ingredients used in it. It only helps you fall in love with it, even more than before!
    From health benefits to interesting trivia, there’s a lot to discover with order food delivery near you.
</h6>